.book-section {
  margin: 0 180px;
}

.new {
  margin-top: 180px;
}

.best {
  margin-top: 140px;
}

.section-title {
  margin-bottom: 40px;
}

.section-title h2 {
  font-size: var(--font-large3);
  font-weight: var(--font-semibold-weight);
}

.section-title p {
  font-size: var(--font-normal1);
  font-weight: var(--font-regular-weight);
  color: var(--text-gray-dark);
}

.book-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-thumbnail {
  width: 100%;
  aspect-ratio: 3 / 4; /* 3:4 비율 설정 */
  overflow: hidden;
  border-radius: 8px;
}

.book-thumbnail img {
  width: 100%;
  height: auto; /* 세로를 자동 조절 */
  max-height: 100%; /* 부모 요소의 높이를 초과하지 않도록 제한 */
  object-fit: cover; /* 비율을 최대한 유지하면서 채움 */
}
