.new-container {
  margin: 140px 180px 0;
}

.new-title {
  margin-bottom: 40px;
}

.new-title > h2 {
  font-size: var(--font-large3);
  font-weight: var(--font-semibold-weight);
}

.new-title > p {
  font-size: var(--font-normal1);
  font-weight: var(--font-regular-weight);
  color: var(--text-gray-dark);
}
