/* .review-chart-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.chart-wrapper {
  width: 48%;
  position: relative;
}

.average-rating {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: #ff6384;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  align-items: center;
}

.average-rating img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
} */
