/* join.css */
.join_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  padding-top:150px
}

.join_title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.join_description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 30px;
}

.join_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.join_input {
  width: 60%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  text-align: center;
  outline: none;

}

.join_input:focus {
  border-color: #333;
}

.gender_select_group {
  display: flex;
  gap: 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
}

.gender_button {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  background-color: #f0f0f0;
  border: none;
  font-weight: bold;
  color: #333;
}
.gender_button.active {
  background-color: #333;
  color: #fff;
}
.gender_button:first-child {
  border-radius: 20px 0 0 20px;
}

.gender_button:last-child {
  border-radius: 0 20px 20px 0;
}
.join_button {
  width: 60%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  background-color: #4c4039;
  margin-top: 10px;
}

.join_button:hover {
  background-color: #333;
}

.error_message {
  color: red;
  font-size: 0.9rem;
}


